@font-face {
    font-family: beer;
    src: url(Cassannet.otf);
}


.logo{
  width: 100px;
  display: block;
  margin: 20px auto;
}

.title, .biggest{
  font-family: beer;
  text-align: center;
}
.big, .nav{
color: white;
}
.biggest{
  color:#CE5B53;
}
.nav{
  text-align: center;
}

p{
  text-align: justify;
}
.navbar-default{
  border:none;
  background-color: white;
  background-image: none;
  box-shadow: none;
}
.navbar-default .navbar-nav>li>a {
  color: #CE5B53;
  font-weight: bold;
  text-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover {
  color: white;
  background: #CE5B53;
}

ul.nav.navbar-nav{
  width: 100%;
}

button.navbar-toggle{
border: none;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color: #CE5B53;
}
.navbar-toggle .icon-bar{
  border-radius: 0px;
  width: 30px;
  height: 3px;
}
.navbar-toggle{
  border-radius: 0px;
}


.quoteringen{
  background:#CE5B53;
  color: white;
  margin-top: 20px;
}
.row{
  margin: 20px;
}

.icon{
  width: 35%;
  display: block;
  margin: auto;
}
.iconinfo{
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.variabelelink{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.variabelelink:hover{
  text-decoration: underline;
  color: white;
}
