@font-face {
    font-family: beer;
    src: url(Cassannet.otf);
}


.logo{
  width: 100px;
  display: block;
  margin: 20px auto;
}

.title{
  font-family: beer;
}
.big, .nav{
text-align: center;
color: #CE5B53;
}

p{
  text-align: center;
}
